body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #f7f7f7;
}

h1, h2 {
  color: #1c3e72;
}

form {
  background: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

input, select, button {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 8px;
  font-size: 14px;
}
